# Byte-compiled / optimized / DLL files
__pycache__/

# temp and release files
_temp/*
release/*
!release/pyi_mac.sh
!release/pyi_win.ps1
!release/pyi_mac.spec
!release/pyi_win.spec
!release/IF_win.ifp


# local stuff
.vscode/
.DS_store
localSettings.user.json

# data that is too large
demoSamples/CompDemo/*