# Byte-compiled / optimized / DLL files
__pycache__/

# temp and release files
_temp/*
release/EasyFlowQ_release_win/EasyFlowQ_Bundle
release/EasyFlowQ_release_mac/*

# local stuff
.vscode/
.DS_store
localSettings.user.json