# Byte-compiled / optimized / DLL files
__pycache__/

# temp and release files
_temp/*
release/*
!release/pyi_mac.sh
!release/pyi_mac_x86.sh
!release/pyi_win.ps1
!release/pyi_mac.spec
!release/pyi_win.spec
!release/IF_win.ifp
!release/environment_win.yml
!release/environment_mac.yml

# local stuff
.vscode/
.DS_store
localSettings.user.json
test/venvs

# data that is too large
demoSamples/CompDemo/*

# mkdocs related
site/
docs/img/DocImages.afdesign

# dist
dist/